* {
    margin: 0;
    padding: 0;
    font-family: 'Bebas Neue', sans-serif;
    color: aliceblue;
    font-weight: 400;
    font-size: 28px;
    text-decoration: none;
}

body {
    background-color: rgb(24, 24, 24);
}

.nav {
    height: 100px;
    overflow: auto;
    background-color: blueviolet;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.nav ul {
    margin: 25px 0px 0px 25px;
}

.nav ul li {
    float: left;
    list-style: none;
    padding: 10px;
    margin-right: 10px;
}

.nav ul li a {
    text-decoration: none;
    color: rgb(24, 24, 24);
    transition: all;
    transition-duration: 1s;
}

.nav ul li a:hover {
    color: aliceblue;
    margin-right: -10px;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.162);
    border-radius: 10px;
}

.nav ul li a:active {
    transition: all;
    transition-duration: .5s;
    color: gray;
}

.nav h1 {
    font-size: 55px;
    text-align: center;
    color: aliceblue;
    transition: all;
    transition-duration: 1s;
    transition-delay: 0.5s;
    transition-timing-function: ease-out;
}

.nav h1:hover {
    color: rgb(24, 24, 24);
}

.sec1 {
    margin-top: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20%;
}

.sec1 .right img {
    width: 500px;
}

#element,
#job {
    color: blueviolet;
}
.sec1 .left h2 {
    font-size: 50px;
    color: rgb(92, 183, 225);
}

.sec1 .left h2 span {
    font-size: 60px;
}

.end1 {
    background-color: blueviolet;
    margin-left: auto;
    margin-right: auto;
    border-width: 0;
    width: 75%;
    height: 1px;
    margin-top: 100px;
    margin-bottom: 100px;
}

.endsec1 {
    text-align: center;
}

.jou {
    background-color: blueviolet;
    text-align: right;
    margin-top: 100px;
    margin-bottom: 150px;
    font-size: 50px;
    padding: 10px;
    padding-right: 20px;
    padding-left: 20px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    width: 150px;
    transition: all 2s ease-out;
}

.jou:hover {
    width: 40%;
}

.hr {
    position: relative;
    margin-top: -680px;
}

.hr hr {
    background-color: blueviolet;
    border: 0;
    height: 5px;
    margin-bottom: 150px;
    margin-left: 200px;
    width: 500px;
}

.line {
    margin-left: 200px;
    background-color: blueviolet;
    width: 5px;
    border-top-left-radius: 20px;
    height: 680px;
}

.hr hr {
    border-top-left-radius: 20px;
}

.year ul li,
.ability ul li {
    color: rgb(249, 249, 249);
    font-size: 35px;
    margin-bottom: 115px;
    list-style: none;
    font-weight: bold;
}

.year {
    margin-left: 50px;
    margin-top: -640px;
    position: absolute;
}

.ability {
    position: absolute;
    margin-left: 732px;
    margin-top: -640px;
}

.year ul li:nth-child(2) {
    margin-top: -10px;
}

.year ul li:nth-child(3) {
    margin-top: -5px;
}

.year ul li:nth-child(4) {
    margin-top: -5px;
}

.year ul li:nth-child(5) {
    margin-top: 0px;
}

.ability ul li:nth-child(2) {
    margin-top: -10px;
}

.ability ul li:nth-child(3) {
    margin-top: -5px;
}

.ability ul li:nth-child(4) {
    margin-top: -5px;
}

.ability ul li:nth-child(5) {
    margin-top: -5px;
}

.about p:nth-child(2) {
    margin-top: -45px;
}

.about p:nth-child(3) {
    margin-top: -65px;
}

.about p:nth-child(4) {
    margin-top: -10px;
}

.about p:nth-child(5) {
    margin-top: -12px;
}

.secend1 hr {
    width: 70%;
    background-color: blueviolet;
    height: 10px;
    border-width: 0;
    border-radius: 10px;
}

.secend1 {
    margin-top: 250px;
    margin-bottom: 200px;
    display: flex;
    justify-content: center;
}
.sec3 {
    padding-top: 50px;
}

.sec3 .web-start {
    text-align: center;
}

.sec3 .web-start h2,
.sec4 h2 {
    text-align: center;
    color: blueviolet;
    margin-bottom: -20px;
    font-size: 100px;
}

.sec3 .web-start h5 {
    word-spacing: 21px;
    transition: all;
    transition-duration: 1.5s;
}

.sec3 .web-start h5 span {
    color: blueviolet;
    transition: all;
    transition-duration: 1.5s;
}

.sec3 .web-start h5 span:hover {
    color: aliceblue;
}

/* search */
.allweb {
    margin-left: auto;
    margin-right: auto;
    width: 75%;
    text-align: center;
    margin-top: 100px;
}

.allweb iframe {
    width: 50%;
    height: 500px;
    overflow-y: hidden;
}
.sec4 {
    padding-top: 100px;
}

.sec4 h5 {
    text-align: center;
    margin-bottom: 150px;
}

.deal {
    width: 1750px;
}

.sec4 .deal div a {
    padding-bottom: 20px;
    background-color: rgb(41, 40, 40);
    height: 400px;
    width: 300px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
}

.sec4 .deal div a p {
    text-align: center;
    font-size: 18px;
    width: 90%;

}

.sec4 .deal div a p b,
.sec4 .deal div a p i {
    font-size: 18px;
}

.sec4 .deal div a img {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    height: 200px;
    width: 100%;
    background-color: rgb(253, 253, 253);
}

.sec4 .deal div a a {
    width: 90%;
}

.sec4 nav {
    margin-left: auto;
    margin-right: auto;
    width: 75%;
    height: 450px;
    overflow: auto;
    margin-bottom: 150px;
}

.sec4 nav .deal {
    width: 1750px;
    display: flex;
    justify-content: space-between;
}

/* course */
.courses .deal1 a {
    padding-bottom: 20px;
    background-color: rgb(41, 40, 40);
    height: 400px;
    width: 300px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
}

.courses .deal1 a img {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    height: 200px;
    width: 100%;
    background-color: rgb(253, 253, 253);
}

.courses .deal1 a p b,
.courses .deal1 a p i {
    font-size: 18px;
}

.courses .deal1 a p {
    text-align: center;
    font-size: 18px;
    width: 90%;

}

.courses {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    gap: 50px;
}
.sec5 {
    padding-top: 50px;
    transition: all .5s;
    transition-timing-function: linear;
}

.sec5 h2 {
    color: blueviolet;
    text-align: center;
    font-size: 150px;
}

.sec5:hover {
    background-color: rgb(31, 31, 31);
}

nav p {
    float: right;
    margin-top: -66px;
    font-size: 28px;
    margin-right: 25px;
    padding: 10px;
    border-radius: 10px;
    transition: all 1s;
}

nav p:hover {
    background-color: rgba(0, 0, 0, 0.162);
    color: aliceblue;
}

h1 {
    margin: -9px 186px 1px 1px;
}
.sec5{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
}
.follow{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 250px;
}
.email {
    text-align: center;
    margin-bottom: 50px;
}
.follow img{
    width: 30px;
    opacity: 25%;
    transition: all .75s;
}
.follow img:hover{
    opacity: 100%;
}
.resume {
    margin-top: 50px;
    margin-bottom: 100px;
}
.resume-btn{
    margin-left: 10%;
    background-color: rgba(255, 255, 255, 0);
    color: rgb(255, 0, 0);
    padding: 10px;
    border-radius: 5px;
    border: 2.5px solid red ;
    transition: all .5s ease-in;
    margin-bottom: 10px;
}
.resume-btn:hover{
    color: black;
    background-color: rgb(255, 0, 0);
    box-shadow: 10px 10px 50px rgba(246, 114, 114, 0.405),
        -10px -10px 50px rgba(240, 114, 114, 0.464),
        -10px 10px  50px rgba(255, 121, 121, 0.419),
        10px -10px  50px rgba(248, 117, 117, 0.44);
}
.joue{
    text-align: center;
}
.jouend {
    padding: 10px;
    border-radius: 5px;
    border-color: blueviolet;
    border: 2.5px solid blueviolet;
    transition-property: all;
    transition-duration: 0.5s;
}
.jouend:hover{
    background-color: blueviolet;
}
/* form mobile */


@media only screen and (max-width: 480px) {
    body{
        background-color: rgb(134, 82, 82);
    }
    header{
        margin-bottom: 0px;
    }
    .nav{
        background-color: rgba(240, 248, 255, 0.488);
        width: 100%;
    }
    .mobilebg{
        background-image: url("./picture/header.jpg");
    }
    .sec1{
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 450px;
        margin-top: 0px;
    }
    .sec1 .left h2{text-align: center;
    font-size: 100%;
    height: 1px;
}
.resume{
    display: block;
    text-align: center;
    margin-left: 0%;
}
    .sec1 .right img{
        width: 0px;  
    }
    .jou {
        color: blueviolet;
        text-align: center;
        margin-top: 100px;
        margin-bottom: 150px;
        float: none;
        font-size: 200%;
        padding: 0px;
        padding-right: 0px;
        padding-left: 0px;
        border-top-right-radius: 0px;
        border-bottom-right-radius: 0px;
        width: 0px;
        background-color: rgba(255, 255, 255, 0);
    }
    .jou:hover{
        text-align: center;
    }
}