@font-face {
    font-family: myfont;
    src: url(../Font/Dela_Gothic_One/DelaGothicOne-Regular.ttf);
}


*{
    font-family: myfont;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
body,html{
    height: 100vh;
    overflow: hidden;
    scroll-behavior: smooth;
    perspective: 1000px;
    
}
.home{
    scrollbar-gutter: 0px;
    overflow-y: scroll;
    height: 100vh;
    scroll-snap-type: y mandatory;
}
.home > div{
    height: 100vh;
    scroll-snap-align: center;
}

.sec1{
    background-image: url('../media/Home.jpg');
    background-size: cover;

}
.top{
    transition: all 700ms;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1vh 1vw;

}
.top:hover{
    background-color: rgba(0, 0, 0, 0.108);
}
h1{
    font-size: 2vw;
}
h1 span:nth-child(1){
    color: orange;
}
h1 span:nth-child(2){
    color: rgb(104, 103, 103);
    background-color: rgba(249, 252, 255, 0.417);
    border-radius: 5px;
}
.top nav ul{
    display: flex;
    width: 50vw;
    font-size: 1vw;
    justify-content: space-between;


}
.top nav ul a{
    color: rgb(83, 82, 82);
    text-decoration: none;
    padding: .2vh .4vw;
    border-radius: 5px;
    transition: all 400ms;
}
.top nav ul a:hover{
    background-color: rgba(0, 0, 0, 0.15);
    color: azure;
}
.sec1 h2{
    font-size: 5vw;
    margin: 10vh;
    color: rgb(238, 245, 164);
    margin-bottom: 6vh;
    line-height: 12vh;
}

.sec1 h2 span{
    font-size: 7vw;
    color: greenyellow;

    
}
span sup{
    rotate: y 180deg;

}
.home-con a{
    position: relative;
    padding: 1vh 4vw;
    margin-left: 5vw;
    margin-top: -1vh;
    background-color: rgb(78, 255, 19);
    text-decoration: none;
    border-radius: 5vw;
    color: black;
    font-size: 2.5vw;
    box-shadow: 1vw 0vh rgb(75, 211, 30);
    transition: all .3s;
}


.home-con a:active{
    margin-left: 6vw;
    margin-top: 0vh;
    box-shadow: 0vw 0vh rgb(75, 211, 30);

}
.sec2 h2{
    padding-top: 5vh;
    text-align: center;
    text-transform: capitalize;
}
.sec2{

}
.sec2 > h3{
    text-align: center;
    margin-top: 25vh;
}
.sec2 .pra {
    display: flex;
    justify-content: space-around;
    align-items: center;

}
.sec2 .pra .card{
    padding: 1vh 1vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 30vh;
    width: 20%;
    transition: all 600ms;
    rotate: x 45deg;
    box-shadow: 0px  10px 10px black;
    border: 3px solid black;
    
}
.sec2 .pra .card:hover{
    rotate: x 0deg;
    box-shadow: 0px  0px 0px black;
}
.sec2 .pra .card h3{
    font-size: 3vh;
}
 
.sec2 .pra .card img{
    width: 100%;
    height: 20vh;
    transition: all 500ms;
}
.sec3{
    background-image: url(../media/white.jpg);
    background-position: center;
    background-size: cover;
    
}
.sec3 h2,.sec4 h2,.sec5 h2{
    padding-top: 5vh;
    text-align: center;

}
.tcycle {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
}
.tcycle a{
    display: block;
    height: 50vh;
    width: 15vw;
    filter: grayscale(100%);
    background-position: center;
    background-size: cover;
    transition: all 700ms;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: .5;

}.tcycle a:hover{
    filter: grayscale(0%);
    height: 60vh;
    width: 18vw;
    opacity: 1;
    
}.tcycle a h3{
    opacity: 1;
    background-color: rgba(252, 252, 253, 0.459);
    transition: all 700ms;
}.tcycle a:hover h3{
    color: rgb(253, 253, 253);
    background-color: rgba(240, 248, 255, 0);
}



.tcycle a:nth-child(1){background-image: url(../media/nav\ \(1\).jpg);}
.tcycle a:nth-child(2){background-image: url(../media/nav\ \(2\).jpg);}
.tcycle a:nth-child(3){background-image: url(../media/nav\ \(3\).jpg);}
.tcycle a:nth-child(4){background-image: url(../media/nav\ \(4\).jpg);}


.ser{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 10vh;
}
.ser > div {
    padding: 1vh 2vw;
    width: 25vw;
    height: 60vh;
    border: 2px solid black;
    text-transform: capitalize;
    border-radius: 10px;
    background-color: rgba(130, 130, 130, 0.182);
    transition: all 500ms;
} 
.ser > div h3{
    text-align: center;
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2vw;
    
}
.noti{
    color: rgb(232, 38, 38); 
}
.ser > div li{
    font-size: 1vw;

}



